body {
  background: rgb(230, 230, 230);
  font-family: verdana;
  max-width: 900px;
  margin: auto;
}
#title,
.subtitle,
.post_title {
  color: rgb(73, 73, 75);
}
#title {
  font-size: 40px;
  text-transform: uppercase;
}
a {
  text-decoration: line-through;
  color: rgb(73, 73, 75);
}
.photo {
  color: rgb(73, 73, 75);

  width: 100px;
  border-radius: 50%;
}
.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}
.post {
  background: #fff;
  padding: 10px;
  border: 3px solid #000;
  margin-bottom: 15px;
  border-radius: 9px;
}
.post_content {
  margin: 0;
  margin-bottom: 15px;
  text-align: justify;
}
.post_image {
  margin-bottom: 15px;
  width: 100%;
}
.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a {
    color: blue;
    text-decoration: none;
}